/*	EL5002-2 Introducción a Taller de Diseño
	Stylesheet Centro de Control del Dirigible
	por Joaquín Chávez, Francisco Villa
*/
	body{
		font-family: helvetica, arial, sans-serif;
		color: white;
		height: 675px;
		width: 1020px;
		margin: 0 0 0 0;
	}
	.header{
		background: #39839B;
		width: 100%;
		height: 100px;
		margin-bottom: 20px;
		padding: 10px 0px 10px 45px;
		
	}
	h1{
		size: 20px;
		align: left;
		line-height: 22px;
		border: 2px;
	}
	.botones{
		height: 400px;
		width: 216px;
		align: left;
		position: relative;
		left: 770px;
		top: -450px;
		border: 2px;
		border-radius: 20px;
		background: rgba(186,186,186,1);;
	}
	h2{
		size: 12px;
		align: left;
	}
	.video{
		align: left;
		height: 480px;
		width: 640px;
		padding: 20px 0 0 45px;
	}
	.forward{
		height: 0px;
		width: 0px;
		border-top: 0px;
		border-left: 30px solid rgba(186,186,186,1);;
		border-right: 30px solid rgba(186,186,186,1);;
		border-bottom: 45px solid #39839B;
		padding: 0 0 0 0;
		position: relative;
		left: 78px;
		outline: 0px;
	}
	.left{
		height: 0px;
		width: 0px;
		border-top: 0px;
		border-left: 30px solid rgba(186,186,186,1);
		border-right: 30px solid rgba(186,186,186,1);;
		border-bottom: 45px solid #39839B;
		padding: 0 0 0 0;
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		position: relative;
		left: 20px;
		outline: 0px;
	}
	.backward{
		height: 0px;
		width: 0px;
		border-top: 0px;
		border-left: 30px solid rgba(186,186,186,1);;
		border-right: 30px solid rgba(186,186,186,1);;
		border-bottom: 45px solid #39839B;
		padding: 0 0 0 0;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		position: relative;
		left: 78px;
		outline: 0px;
	}
	.right{
		height: 0px;
		width: 0px;
		border-top: 0px;
		border-left: 30px solid rgba(186,186,186,1);;
		border-right: 30px solid rgba(186,186,186,1);;
		border-bottom: 45px solid #39839B;
		padding: 0 0 0 0;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		position: relative;
		left: 70px;
		outline: 0px;
	}
	.up{
		font-size: 12px;
		height: 50px;
		width: 50px;
		border: 2px solid #39839B;
		border-radius: 25px;
		background: #39839B;
		position: relative;
		left: 25px;
		top: 10px;

	}
	.down{
		font-size: 12px;
		height: 50px;
		width: 50px;
		border: 2px solid #39839B;
		border-radius: 25px;
		background: #39839B;
		position: relative;
		left: 88px;
		top: 10px;
	}
	.stop{
		height: 100px;
		width: 100px;
		border-radius: 50px;
		border-color: red;
		position: relative;
		top: 35px;
		left: 58px;
		font-size: 20px;
		font-weight: bold;
		background: red;
		margin: 0 auto;
		outline: 0px;
	}
	.logo{
		position: relative;
		left: 10px;
		top: 45px;
		
	}